<a href="https://colab.research.google.com/github/najub/Python-Data-Science/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

# 1.3 Trabalhando com dados

In [15]:
import pandas as pd
#pd.set_option('display.max_rows', 1000)

In [16]:
dataset = pd.read_csv('db.csv', sep=';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [17]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [18]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [41]:
km_media = {'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}
carros = pd.DataFrame(km_media).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [21]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [22]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [24]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [26]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [27]:
dataset[['Nome', 'Ano', 'Motor', 'Zero_km', 'Quilometragem', 'Valor']]

            Nome   Ano            Motor  Zero_km  Quilometragem      Valor
0  Jetta Variant  2003  Motor 4.0 Turbo    False        44410.0   88078.64
1         Passat  1991     Motor Diesel    False         5712.0  106161.94
2       Crossfox  1990  Motor Diesel V8    False        37123.0   72832.16

### Criando um DataFrame a partir de um dicionário

In [29]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [30]:
pd.DataFrame(dados)

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [33]:
dataset = pd.read_csv('db.csv', sep=';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [73]:
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0)
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [42]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [43]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [45]:
type(dataset['Valor'])

pandas.core.series.Series

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [50]:
dataset[10:20]

                                Motor  ...      Valor
Nome                                   ...
Ford Edge             Motor Diesel V6  ...   71647.59
Courier               Motor Diesel V8  ...   73919.53
S-18                         Motor V6  ...  112732.99
J5                           Motor V6  ...   53183.38
F-Type Coupé    Motor 5.0 V8 Bi-Turbo  ...  127488.42
RAM                   Motor Diesel V8  ...   59910.40
Série 1                 Motor 3.0 32v  ...   61118.59
A3                       Motor 1.0 8v  ...   88552.39
XC90                     Motor 1.0 8v  ...   62696.69
RS 3 Sportback          Motor 3.0 32v  ...  101726.30

[10 rows x 6 columns]

In [93]:
dataset[36:42][['Motor', 'Ano', 'Quilometragem', 'Valor']]

                      Motor   Ano  Quilometragem      Valor
Nome
Pajero TR4  Motor 2.4 Turbo  2019            NaN   51606.59
Polo Sedan         Motor V6  2019            NaN  123281.87
California     Motor 1.0 8v  2009         5526.0   69770.18
S60         Motor 2.4 Turbo  2019            NaN  102609.54
Tucson        Motor 2.0 16v  2013        93415.0   67997.19
HB20               Motor V6  2003        40762.0  135235.29

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [55]:
dataset.loc['RAM']

Motor                                              Motor Diesel V8
Ano                                                           2016
Quilometragem                                               115607
Zero_km                                                      False
Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
Valor                                                      59910.4
Name: RAM, dtype: object

In [56]:
dataset.loc[['XC90', 'Série 1']]

                 Motor  ...     Valor
Nome                    ...
XC90      Motor 1.0 8v  ...  62696.69
Série 1  Motor 3.0 32v  ...  61118.59

[2 rows x 6 columns]

In [62]:
dataset.loc[['J5', 'S-18'],['Acessórios', 'Valor']]

                                             Acessórios      Valor
Nome
J5    ['Sensor crepuscular', 'Painel digital', 'Roda...   53183.38
S-18  ['Bancos de couro', 'Sensor de chuva', 'Rodas ...  112732.99

In [72]:
dataset.loc[['Motor Diesel V8'], :]

                                    Nome  ...      Valor
Motor                                     ...
Motor Diesel V8                 Crossfox  ...   72832.16
Motor Diesel V8                  Courier  ...   73919.53
Motor Diesel V8                      RAM  ...   59910.40
Motor Diesel V8                     CR-V  ...   64701.10
Motor Diesel V8              Grand Siena  ...  115075.59
Motor Diesel V8             Cadillac XLR  ...   56646.34
Motor Diesel V8  Classe C 63 AMG Touring  ...  138171.85
Motor Diesel V8                 Veloster  ...  146508.99
Motor Diesel V8                    Bongo  ...   91242.44
Motor Diesel V8                      ASX  ...  149489.92
Motor Diesel V8              L200 Triton  ...   81999.21
Motor Diesel V8                  Boxster  ...  147387.76
Motor Diesel V8                   Alsvin  ...  109059.27
Motor Diesel V8         Aston Martin DB7  ...  146676.71
Motor Diesel V8          Vantage Volante  ...  114434.94
Motor Diesel V8          Palio Adventure  ...   95078.16
Motor Diesel V8                 Classe B  ...  135543.00
Motor Diesel V8                   Parati  ...  121708.73
Motor Diesel V8                       X1  ...  102968.76
Motor Diesel V8                 Veracruz  ...   92957.64
Motor Diesel V8                  LS 460L  ...   58881.67

[21 rows x 6 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [76]:
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [77]:
dataset.iloc[[1]]

               Motor  ...      Valor
Nome                  ...
Passat  Motor Diesel  ...  106161.94

[1 rows x 6 columns]

In [78]:
dataset.iloc[1:4]

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

In [134]:
dataset.iloc[1:4, [5,2,1]]

              Valor  Quilometragem   Ano
Nome
Passat    106161.94         5712.0  1991
Crossfox   72832.16        37123.0  1990
DS5       124549.07            NaN  2019

In [136]:
dataset.iloc[1:6, [4,3,0]]

                                                         Acessórios  ...            Motor
Nome                                                                 ...
Passat            ['Central multimídia', 'Teto panorâmico', 'Fre...  ...     Motor Diesel
Crossfox          ['Piloto automático', 'Controle de estabilidad...  ...  Motor Diesel V8
DS5               ['Travas elétricas', '4 X 4', 'Vidros elétrico...  ...  Motor 2.4 Turbo
Aston Martin DB4  ['Rodas de liga', '4 X 4', 'Central multimídia...  ...  Motor 2.4 Turbo
Palio Weekend     ['Sensor de estacionamento', 'Teto panorâmico'...  ...    Motor 1.8 16v

[5 rows x 3 columns]

In [135]:
dataset.iloc[250:, [3,4,0,5]]

                            Zero_km  ...      Valor
Nome                                 ...
Lamborghini Sesto Elemento    False  ...   55081.99
Lamborghini Huracán           False  ...  118826.44
A7                            False  ...  137627.62
Phantom 2013                  False  ...   51759.58
Cadillac Ciel concept         False  ...   51667.06
Classe GLK                    False  ...   68934.03
Aston Martin DB5              False  ...  122110.90
Macan                         False  ...   90381.47

[8 rows x 4 columns]

# 5.3 Queries com DataFrames

In [ ]:
dataset.head()

In [96]:
select = dataset.Motor == "Motor Diesel"
dataset[select]

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [99]:
type(select)

pandas.core.series.Series

In [ ]:
dataset[(dataset.Motor == "Motor Diesel V8") & (dataset.Zero_km)]

In [ ]:
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

In [ ]:
dataset[(dataset.Motor == "Motor Diesel") | (dataset.Zero_km)]

### Utilizando o método query

In [ ]:
dataset.query("Motor == 'Motor 4.0 Turbo' or Zero_km") #pode utilizar & e |

In [ ]:
dataset.query("Ano == '2019' or Zero_km")

# 5.4 Iterando com DataFrames

In [137]:
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0)
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [ ]:
list(dataset.iterrows()) #alternativas intertuple(), items()

In [150]:
for index, row in dataset.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
  else:
    dataset.loc[index, 'Km_media'] = 0

dataset

                                       Motor   Ano  ...      Valor     Km_media
Nome                                                ...
Jetta Variant                Motor 4.0 Turbo  2003  ...   88078.64  2775.625000
Passat                          Motor Diesel  1991  ...  106161.94   204.000000
Crossfox                     Motor Diesel V8  1990  ...   72832.16  1280.103448
DS5                          Motor 2.4 Turbo  2019  ...  124549.07     0.000000
Aston Martin DB4             Motor 2.4 Turbo  2006  ...   92612.10  1981.307692
...                                      ...   ...  ...        ...          ...
Phantom 2013                        Motor V8  2014  ...   51759.58  5501.000000
Cadillac Ciel concept               Motor V8  1991  ...   51667.06  1070.750000
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002  ...   68934.03  3096.294118
Aston Martin DB5                Motor Diesel  1996  ...  122110.90   334.130435
Macan                        Motor Diesel V6  1992  ...   90381.47  1858.814815

[258 rows x 7 columns]

# 5.5 Tratamento de dados

In [154]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

In [155]:
dataset[dataset.Quilometragem.isna()]

                                          Motor   Ano  ...      Valor  Km_media
Nome                                                   ...
DS5                             Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                              Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                                     Motor V6  2019  ...   53183.38       0.0
A3                                 Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                              Motor V8  2019  ...   94564.40       0.0
Lamborghini Murciélago    Motor 5.0 V8 Bi-Turbo  2019  ...  121596.21       0.0
Up!                             Motor Diesel V6  2019  ...   71367.10       0.0
Sandero Stepway                   Motor 3.0 32v  2019  ...  105432.84       0.0
Pajero TR4                      Motor 2.4 Turbo  2019  ...   51606.59       0.0
Polo Sedan                             Motor V6  2019  ...  123281.87       0.0
S60                             Motor 2.4 Turbo  2019  ...  102609.54       0.0
Optima                            Motor 1.8 16v  2019  ...   86641.34       0.0
Range Rover Vogue                  Motor 1.0 8v  2019  ...  117626.73       0.0
CR-V                            Motor Diesel V8  2019  ...   64701.10       0.0
CLA                                Motor 1.0 8v  2019  ...  133329.19       0.0
Accord                                 Motor V8  2019  ...  131961.43       0.0
EXTRA 103EX                       Motor 2.0 16v  2019  ...  112033.27       0.0
Sorento                            Motor Diesel  2019  ...   81399.35       0.0
Tiggo                             Motor 3.0 32v  2019  ...   97163.10       0.0
Touareg                                Motor V8  2019  ...   66526.61       0.0
Lancer Evolution X              Motor Diesel V6  2019  ...  142392.75       0.0
Cielo Hatch                        Motor Diesel  2019  ...  145197.70       0.0
Livina                            Motor 2.0 16v  2019  ...   50742.10       0.0
Hilux                     Motor 5.0 V8 Bi-Turbo  2019  ...   64507.72       0.0
Grand Siena                     Motor Diesel V8  2019  ...  115075.59       0.0
Fusion                            Motor 1.8 16v  2019  ...  100380.28       0.0
Face                                   Motor V8  2019  ...   93227.73       0.0
A8                                Motor 2.0 16v  2019  ...  122016.42       0.0
Q3                                Motor 3.0 32v  2019  ...  114727.68       0.0
Z4 Roadster                       Motor 3.0 32v  2019  ...   80382.24       0.0
Lamborghini Ferruccio             Motor 3.0 32v  2019  ...  149157.17       0.0
Camry                              Motor Diesel  2019  ...  138597.27       0.0
R8 GT                           Motor 4.0 Turbo  2019  ...   62999.02       0.0
Classe CL                              Motor V8  2019  ...   58525.41       0.0
Aston Martin Cygnet       Motor 5.0 V8 Bi-Turbo  2019  ...  147770.87       0.0
Lamborghini Veneno                Motor 3.0 32v  2019  ...  104038.79       0.0
i30                               Motor 1.8 16v  2019  ...   86224.10       0.0
Voyage                    Motor 5.0 V8 Bi-Turbo  2019  ...  148996.47       0.0
Phantom I Phantom II              Motor 1.8 16v  2019  ...   60948.01       0.0
308 CC                          Motor 4.0 Turbo  2019  ...  146405.79       0.0
L200 Triton                     Motor Diesel V8  2019  ...   81999.21       0.0
Classe SLK                      Motor 4.0 Turbo  2019  ...  124156.65       0.0
C3 Picasso                        Motor 3.0 32v  2019  ...   56453.94       0.0
Classe S                          Motor 3.0 32v  2019  ...   89401.10       0.0
T6                                Motor 3.0 32v  2019  ...   56842.79       0.0
Aston Martin Virage                Motor Diesel  2019  ...   97290.18       0.0
Vantage Volante                 Motor Diesel V8  2019  ...  114434.94       0.0
J3 Turin                               Motor V6  2019  ...  127024.75       0.0
Classe B                        Motor Diesel V8  2019  ...  135543.00       0.0
Parati                          Motor Diesel V8  2019  ...  121708.73       0.0
Sedan                                  Motor V8  2019  ...   57888.10       0.0
Aston Martin V12 Vantage               Motor V8  2019  ...  128396.11       0.0
Partner                         Motor 2.4 Turbo  2019  ...  114531.74       0.0
Chana Family                           Motor V8  2019  ...  115760.17       0.0
A3 Sedan                               Motor V6  2019  ...   90141.47       0.0
Série 7 Sedã                       Motor Diesel  2019  ...   67539.79       0.0
Lamborghini Reventón            Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                             Motor V8  2019  ...  126247.84       0.0
Uno                             Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                          Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                            Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [157]:
dataset.fillna(0, inplace = True)

In [159]:
dataset.query('Zero_km')

                                          Motor   Ano  ...      Valor  Km_media
Nome                                                   ...
DS5                             Motor 2.4 Turbo  2019  ...  124549.07       0.0
A5                              Motor 4.0 Turbo  2019  ...   56445.20       0.0
J5                                     Motor V6  2019  ...   53183.38       0.0
A3                                 Motor 1.0 8v  2019  ...   88552.39       0.0
Série 1 M                              Motor V8  2019  ...   94564.40       0.0
Lamborghini Murciélago    Motor 5.0 V8 Bi-Turbo  2019  ...  121596.21       0.0
Up!                             Motor Diesel V6  2019  ...   71367.10       0.0
Sandero Stepway                   Motor 3.0 32v  2019  ...  105432.84       0.0
Pajero TR4                      Motor 2.4 Turbo  2019  ...   51606.59       0.0
Polo Sedan                             Motor V6  2019  ...  123281.87       0.0
S60                             Motor 2.4 Turbo  2019  ...  102609.54       0.0
Optima                            Motor 1.8 16v  2019  ...   86641.34       0.0
Range Rover Vogue                  Motor 1.0 8v  2019  ...  117626.73       0.0
CR-V                            Motor Diesel V8  2019  ...   64701.10       0.0
CLA                                Motor 1.0 8v  2019  ...  133329.19       0.0
Accord                                 Motor V8  2019  ...  131961.43       0.0
EXTRA 103EX                       Motor 2.0 16v  2019  ...  112033.27       0.0
Sorento                            Motor Diesel  2019  ...   81399.35       0.0
Tiggo                             Motor 3.0 32v  2019  ...   97163.10       0.0
Touareg                                Motor V8  2019  ...   66526.61       0.0
Lancer Evolution X              Motor Diesel V6  2019  ...  142392.75       0.0
Cielo Hatch                        Motor Diesel  2019  ...  145197.70       0.0
Livina                            Motor 2.0 16v  2019  ...   50742.10       0.0
Hilux                     Motor 5.0 V8 Bi-Turbo  2019  ...   64507.72       0.0
Grand Siena                     Motor Diesel V8  2019  ...  115075.59       0.0
Fusion                            Motor 1.8 16v  2019  ...  100380.28       0.0
Face                                   Motor V8  2019  ...   93227.73       0.0
A8                                Motor 2.0 16v  2019  ...  122016.42       0.0
Q3                                Motor 3.0 32v  2019  ...  114727.68       0.0
Z4 Roadster                       Motor 3.0 32v  2019  ...   80382.24       0.0
Lamborghini Ferruccio             Motor 3.0 32v  2019  ...  149157.17       0.0
Camry                              Motor Diesel  2019  ...  138597.27       0.0
R8 GT                           Motor 4.0 Turbo  2019  ...   62999.02       0.0
Classe CL                              Motor V8  2019  ...   58525.41       0.0
Aston Martin Cygnet       Motor 5.0 V8 Bi-Turbo  2019  ...  147770.87       0.0
Lamborghini Veneno                Motor 3.0 32v  2019  ...  104038.79       0.0
i30                               Motor 1.8 16v  2019  ...   86224.10       0.0
Voyage                    Motor 5.0 V8 Bi-Turbo  2019  ...  148996.47       0.0
Phantom I Phantom II              Motor 1.8 16v  2019  ...   60948.01       0.0
308 CC                          Motor 4.0 Turbo  2019  ...  146405.79       0.0
L200 Triton                     Motor Diesel V8  2019  ...   81999.21       0.0
Classe SLK                      Motor 4.0 Turbo  2019  ...  124156.65       0.0
C3 Picasso                        Motor 3.0 32v  2019  ...   56453.94       0.0
Classe S                          Motor 3.0 32v  2019  ...   89401.10       0.0
T6                                Motor 3.0 32v  2019  ...   56842.79       0.0
Aston Martin Virage                Motor Diesel  2019  ...   97290.18       0.0
Vantage Volante                 Motor Diesel V8  2019  ...  114434.94       0.0
J3 Turin                               Motor V6  2019  ...  127024.75       0.0
Classe B                        Motor Diesel V8  2019  ...  135543.00       0.0
Parati                          Motor Diesel V8  2019  ...  121708.73       0.0
Sedan                                  Motor V8  2019  ...   57888.10       0.0
Aston Martin V12 Vantage               Motor V8  2019  ...  128396.11       0.0
Partner                         Motor 2.4 Turbo  2019  ...  114531.74       0.0
Chana Family                           Motor V8  2019  ...  115760.17       0.0
A3 Sedan                               Motor V6  2019  ...   90141.47       0.0
Série 7 Sedã                       Motor Diesel  2019  ...   67539.79       0.0
Lamborghini Reventón            Motor 4.0 Turbo  2019  ...   67664.86       0.0
Benni Mini                             Motor V8  2019  ...  126247.84       0.0
Uno                             Motor Diesel V6  2019  ...  128852.21       0.0
Santa Fe                          Motor 3.0 32v  2019  ...  129415.33       0.0
XC60                            Motor 4.0 Turbo  2019  ...   77675.79       0.0

[61 rows x 7 columns]

In [160]:
dataset = pd.read_csv('db.csv', sep = ';')

In [161]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [162]:
dataset.dropna(subset = ['Quilometragem'])

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]

In [163]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [164]:
dataset.dropna(subset=['Quilometragem'], inplace=True)

In [165]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]

In [166]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           197 non-null    object
 1   Motor          197 non-null    object
 2   Ano            197 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        197 non-null    bool
 5   Acessórios     197 non-null    object
 6   Valor          197 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 11.0+ KB