##Imóveis residenciais

In [1]:
import pandas as pd

In [3]:
properties = pd.read_csv('aluguel.csv', sep = ';')
properties

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [7]:
list(properties['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [8]:
types_residential = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Studio']

In [12]:
selection_residential = properties['Tipo'].isin(types_residential)
selection_residential

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [14]:
properties_residential = properties[selection_residential]
properties_residential

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
32953  Apartamento                 Méier        2  ...   900.0       490.0  48.0
32955    Quitinete                Centro        0  ...   800.0       350.0  25.0
32956  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
32957  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
32958  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[23111 rows x 9 columns]

In [16]:
list(properties_residential['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Studio']

In [17]:
properties_residential.index = range(properties_residential.shape[0])
properties_residential

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
23106  Apartamento                 Méier        2  ...   900.0       490.0  48.0
23107    Quitinete                Centro        0  ...   800.0       350.0  25.0
23108  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
23109  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
23110  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[23111 rows x 9 columns]

##Exportando arquivo

In [26]:
properties_residential.to_csv('aluguel_residencial.csv', sep = ';')

In [19]:
from google.colab import files

In [27]:
files.download('aluguel_residencial.csv')

In [31]:
aluguel_residencial = pd.read_csv('aluguel_residencial.csv', sep = ';')
aluguel_residencial

       Unnamed: 0         Tipo                Bairro  ...   Valor  Condominio  IPTU
0               0    Quitinete            Copacabana  ...  1700.0       500.0  60.0
1               1         Casa       Jardim Botânico  ...  7000.0         NaN   NaN
2               2  Apartamento                Centro  ...   800.0       390.0  20.0
3               3  Apartamento          Higienópolis  ...   800.0       230.0   NaN
4               4  Apartamento          Vista Alegre  ...  1200.0         NaN   NaN
...           ...          ...                   ...  ...     ...         ...   ...
23106       23106  Apartamento                 Méier  ...   900.0       490.0  48.0
23107       23107    Quitinete                Centro  ...   800.0       350.0  25.0
23108       23108  Apartamento           Jacarepaguá  ...  1800.0       800.0  40.0
23109       23109  Apartamento  São Francisco Xavier  ...  1400.0       509.0  37.0
23110       23110  Apartamento                Leblon  ...  3000.0       760.0   NaN

[23111 rows x 10 columns]

In [33]:
properties_residential.to_csv('aluguel_residencial.csv', sep = ';', index = False)

In [35]:
files.download('aluguel_residencial.csv')

In [36]:
aluguel_residencial = pd.read_csv('aluguel_residencial.csv', sep = ';')
aluguel_residencial

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
23106  Apartamento                 Méier        2  ...   900.0       490.0  48.0
23107    Quitinete                Centro        0  ...   800.0       350.0  25.0
23108  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
23109  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
23110  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[23111 rows x 9 columns]